:root {
	--background: #ffffff;
	--foreground: #171717;

	--color-primary-dark: #7a29ff;
	--color-primary-light: #985bfc;
	--color-primary-accent: #993efa;
	--color-primary-stroke: #8a42f5;

	--color-bg-darkest: #121212;
	--color-bg-very-dark: #1a1a1a;
	--color-bg-gradient: #551469;
	--color-bg-overlay: #1e1352;
	--color-bg-black: #000000;

	--color-border-dark: #2D2D2D;
	--color-border-medium: #404040;
	--color-border-purple: #54487B;

	--color-text-white: #ffffff;
	--color-text-gray-light: #979797;
	--color-text-gray-medium: #909091;
	--color-text-gray-dark: #b8b8b8;
	--color-text-gray-secondary: #c0c0c0;
	--color-text-gray-500: #6b7280;
	--color-text-gray-300: #d1d5db;

	--color-accent-indigo: rgb(208, 99, 241);
	--color-shadow-red: rgb(255, 0, 0);
	
	--color-gradient-indigo-dark: #5d0f91;
	--color-gradient-indigo-medium: #8030a3;
	--color-gradient-indigo-light: #b846e5;

	--color-gradient-dark-rgb: 93, 15, 145;
	--color-gradient-light-rgb: 184, 70, 229;

	--color-primary-light-10: rgba(122, 41, 255, 0.1);
	--color-primary-accent-50: rgba(30, 19, 82, 0.5);
	--color-white-opacity-10: rgba(255, 255, 255, 0.1);
	--color-white-opacity-20: rgba(255, 255, 255, 0.2);
	--color-black-opacity-50: rgba(0, 0, 0, 0.5);
	--color-black-opacity-56: rgba(0, 0, 0, 0.56);
	--color-gray-500-opacity-30: rgba(107, 114, 128, 0.3);
} 